dataset/
weights/yolov4_best.weights
predictions/yolov4/manuscript_0.PNG
weights/yolov3_training_last.weights
mémoire/Memoire.out
mémoire/Memoire.mtc9
mémoire/Memoire.mtc8
mémoire/Memoire.mtc7
mémoire/Memoire.mtc6
mémoire/Memoire.mtc5
mémoire/Memoire.mtc4
mémoire/Memoire.mtc3
mémoire/Memoire.mtc2
mémoire/Memoire.mtc10
mémoire/Memoire.mtc1
mémoire/Memoire.mtc0
mémoire/Memoire.mtc
mémoire/Memoire.maf
mémoire/Memoire.lot
mémoire/Memoire.log
mémoire/Memoire.lof
mémoire/Memoire.blg
mémoire/Memoire.bbl
mémoire/Memoire.aux
mémoire/Memoire.toc
mémoire/Memoire.synctex.gz
